// More than 480px
@media (min-width: 30em) {
  section {
    &.projects {
      .card {
        flex-basis: 45%;
      }
    }
  }

  footer {
    ul {

      li {
        font-size: 1.5rem;
      }
    }
  }
}

// More than 640px
@media (min-width: 40em) {
  :root {
    font-size: 0.75rem;
  }

  body {
    .container {
      max-width: 90%;
      margin: auto;
    }
  }
}

// More than 800px
@media (min-width: 50em) {
  body {
    .container {
      max-width: 85%;
    }
  }

  nav {
    grid-template-areas: "logo list";

    .menu-icon {
      display: none;
    }

    ul {
      position: static;
      display: flex;
      gap: 1em;
    }
  }

  section {
    &.technologies {
      ul {
        justify-content: space-between;

        column-gap: 2em;

        li {
          flex-basis: 45%;
        }
      }
    }
  }
}

// More than 960px
@media (min-width: 60em) {
  :root {
    font-size: 0.875rem;
  }

  body {
    .container {
      max-width: 80%;
    }
  }

  main {
    justify-content: flex-start;
    text-align: start;

    div {
      &.summary {
        width: 85%;
      }

      &.drawing-bg {
        top: 10%;
        bottom: 10%;
        right: 0;
        background-position: 90% 20%;
      }
    }
  }
}

// More than 1120px
@media (min-width: 70em) {
  :root {
    font-size: 1rem;
  }

  nav {
    padding-inline: 5em;
  }

  body {
    .container {
      max-width: 75%;
    }
  }
}
